.drop-down {
  display: none;
  position: absolute;
  background: $Almost-White;
  border-radius: 0.8rem;
  top: 3rem;
  right: 0;
  &.drop-down-company {
    right: -15%;
  }
  z-index: 200;
  box-shadow: -5px 16px 48px rgba($Almost-Black, 0.2);
  @include respond(phone) {
    box-shadow: none;
    position: static;
  }
}
.d-list {
  padding: 2rem 1.6rem;
  &.d-list-company {
    padding: 2.4rem 1.6rem;
  }
  .d-list_item {
    display: flex;
    gap: 1.2rem;
    @include respond(phone) {
      gap: 1.8rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
      @include respond(phone) {
        margin-bottom: 2rem;
      }
    }
    .icon-box {
      width: 1.2rem;
    }
  }
}
