.header {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 4.8rem;
  padding-top: 3.2rem;
  color: $Medium-Gray;
  font-size: 1.6rem;
  @include respond(phone) {
    margin: 0;
    padding: 2.4rem 0 0 2.4rem;
    width: 100vw;
    overflow-x: hidden;
  }

  .logo {
    @include respond(phone) {
      height: 3.2rem;
    }
    &_box {
      padding-right: 64px;
      display: flex;
      align-items: center;
      @include respond(phone) {
        padding: 1rem 0 0 0;
      }
    }
  }
  .menu-box {
    display: none;
    @include respond(phone) {
      display: block;
      position: absolute;
      right: 5%;
      height: 2.2rem;
    }
  }

  .nav-list {
    display: flex;
    gap: 2.4rem;
    #features-side,
    #company-side {
      &.active {
        .arrow-box img {
          transform: rotate(180deg);
        }
      }
    }
    &_item {
      &.hover-class {
        &:hover {
          cursor: pointer;
          .arrow-box img {
            transform: rotate(180deg);
          }
        }
      }
      span {
        display: inline-block;
        margin-right: 0.5rem;
        @include respond(phone) {
          margin-right: 1.2rem;
        }
        &:hover {
          color: $Almost-Black;
        }
      }
    }
    .item {
      &-features {
        &:hover {
          .drop-down-features {
            display: block;
          }
        }
      }
      &-company {
        &:hover {
          .drop-down-company {
            display: block;
          }
        }
      }
    }
  }
  .auth_list {
    display: flex;
    position: absolute;
    right: 0;
    gap: 3.2rem;
    &-item {
      &:hover {
        cursor: pointer;
      }
      &.btn {
        &_login {
          padding: 1rem 0;
        }
        &_register {
          padding: 1rem 1.7rem;
          border: 2px solid $Medium-Gray;
          border-radius: 1.4rem;
          &:hover {
            border-color: $Almost-Black;
          }
        }
      }
    }
  }
  .nav-bar,
  .auth_list {
    @include respond(phone) {
      display: none;
    }
  }
}
