.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $Almost-White;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 9.6rem;

  .close-icon-box {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    font-size: 1.8rem;
  }
  .auth_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: static;
    gap: 1.2rem;
    font-size: 1.8rem;
    margin-top: 3.2rem;
    .btn_register {
      padding: 1.2rem 24%;
    }
  }
}
