*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
main {
  margin: 0 7% 10% 10%;
  @include respond(phone) {
    margin: 0;
    background: yellow;
  }
}
